.box {
    display:flex;
    /* the image has to be in the same file as the code*/
    border-radius: 3%;
    border: 2px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;/*sets the width as a percentage of the screen*/
    height: 230px;
    justify-content: center;
    align-items:center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);/*shadow for box*/
    margin: 12px;
    
  }
.box:hover{
    
    box-shadow: 4px 4px 8px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
/*the 0.5 controls the transperancy of the shadow the 4 4 px does vertical and horitxontal shadoq*/

}
box_flex {
  margin-top: 70px;
  display: flex;
  gap: 20px; /*gap between various flex items*/
  flex-wrap: wrap;/* default is nowrap. wrap allows us to have multiple sub elements in the same line*/
  justify-content: center;
  
}