@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define global variables for colors */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Override colors for dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  /* Style form elements for dark mode */
  select,
  input,
  textarea {
    background-color: rgb(var(--background-start-rgb));
    color: rgb(var(--foreground-rgb));
  }
}

/* Global styles for the body element */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}