body {
    background-color: honeydew;
}

.bids_font{
  font-family: 'Lobster', cursive;
  font-style: italic; font-size:50px;font-weight:300
}

box_flex {
    display: flex;
    gap: 20px; /*gap between various flex items*/
    flex-wrap: wrap;/* default is nowrap. wrap allows us to have multiple sub elements in the same line*/
}
/*everything under box flex would be as a wrap*/

.container{
  position: relative;
}
h1{
    text-align: center; 
    /*width: 300px;*
    border: 15px solid green;
    padding: 5px; padding is done to have some distance between borders and text
    margin: 0px 500px; /*Margin - Clears an area outside the border. The margin is transparent */
    color: white;
    font-size: 50px;
    margin: 30px auto;
}

.search-bar{
    border-radius: 10px;
    background-color: white;
    width: 500px;
    padding-left: 30px; /*to accomodate the search bar*/
    margin: 0 auto;

}

.search-icon{
  color: #000000;
}

.input-container {
    position: relative;
}

.input-container i {
    position: absolute;
    left: 10px; /* Adjust this value to position the icon as needed */
    top: 50%;
    transform: translateY(-50%);
}
.pos{
  position: absolute; /* Position the icon absolutely within the container */
top: 0.5vw;
  left:30vw
}
.div {
    
    /* the image has to be in the same file as the code*/
    border: 2px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;/*sets the width as a percentage of the screen*/
    justify-content: center;
    align-items:center;
  }

.textbox {
    
    border-radius: 25px;
    background-color: black;
    opacity: 1;
    color: white;
    justify-content: center; /* Align horizontally (ie makes sure item is in the middle of horizontal)*/
    /*if u dont specify width it automatically fills completely*/
    height:suto;
    width: 50px;
    opacity:1;
    text-align: center;
    margin: 5px;
    
}

.textbox a{
    text-decoration: none;
}

.textbox i {
  color: #fff; /* Set icon color to white */
  font-size: 24px; /* Customize icon size */
}

a{
    margin: 5%;/*this margin specifies the margin in which the text can appear*/
    font-weight: bold;
    color: white;
    font-size:larger ;
    text-decoration: none;
}

form{
    display: flex;
}

.dropbtn {
  border-radius: 24px;
    background-color: black;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: auto;

  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    text-align: left;
    margin-right: 10px; /* Add margin for spacing between dropdowns */

  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* when u hover over dropdown, dropdown-content ka display becomes a block and thus visible */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color:gray;
  }
   /* Container for the dropdowns */
.dropdown-container {
  display: flex;
  justify-content: center;
}
.submit-bar{
  display:block;
  border-radius: 10px;
  background-color: white;
  width: 20%;
  padding-left: 7px; 
  margin: 5px;


}

/*When you set position: relative; on a container, you're telling the browser that the container 
itself should serve as the reference point for positioning any child elements with position: absolute;*/